body {
    font-family: "DM Sans", sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),url('/images/header-image-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
}

header h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;
}

header h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0 0 30px 0;
}

header h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
}

header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: white;
    text-decoration: none;
    color: #272044;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 3px;
    transition: 150ms all ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

header a:hover {
    background-color: rgb(221, 221, 221);
}

@media (max-width: 900px) {
   
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }

    header a {
        font-size: 10px;
        padding: 8px 16px;
    }
}